{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<h1>Installation Keys</h1>
	The installation key is used to add resources to the iWe Network.
	<ul>
		<li><a href="{{ url_for('download_installation_key') }}">Download</a>
			an installation key.  The installation key will expire after
			{{ expire_hours }} hours, but the same key can be used for
			multiple installarions.</li>
		<li>Copy the installation key to the installer media(probably a USB stick)</li>
		<li>Boot the installer on the server you want to add to iWe</li>
		<li>When the installarion starts, you will get a notification to activate the new server</li>
		<li><a href="{{ url_for('list_activation_pins') }}">Activate your new server</a>
{% endblock %}
